In [1]:
# import prereq
import pandas as pd 
from sklearn import preprocessing
import numpy as np

In [2]:
train = pd.read_csv('fashion-mnist_train.csv')

In [3]:
cross = pd.read_csv('fashion-mnist_test.csv')

In [4]:
concat_train_and_cross = [train, cross]
dataset = pd.concat(concat_train_and_cross) # create 1 single frame from cross and train

In [5]:
# split in a new bigger train set
new_train = dataset.sample(frac=0.99,random_state=200) # split in 99% and 1%, 99% for train and 1% for dev and test
cross_and_test = dataset.drop(new_train.index)

In [6]:
# generate test and dev set
new_cross = cross_and_test.sample(frac=0.5,random_state=200)
new_test = cross_and_test.drop(new_cross.index)

In [7]:
# sanity check to see if the data is relativ. uniform distrib. over the colum label
for i in range(10):
    print('Label'+str(i),'Cross set:',len(np.where(new_cross['label'] == i)[0]), 'Test set: ', len(np.where(new_test['label'] == i)[0]))

Label0 Cross set: 21 Test set:  17
Label1 Cross set: 28 Test set:  24
Label2 Cross set: 19 Test set:  23
Label3 Cross set: 26 Test set:  26
Label4 Cross set: 21 Test set:  25
Label5 Cross set: 21 Test set:  24
Label6 Cross set: 25 Test set:  26
Label7 Cross set: 27 Test set:  25
Label8 Cross set: 38 Test set:  28
Label9 Cross set: 19 Test set:  27

In [8]:
# # save the datasets
# new_train.to_csv('train.csv')
# new_cross.to_csv('cross.csv')
# new_test.to_csv('test.csv')

In [9]:
# helper: normalize

def normalize_df(df):
    x = df.values #returns a numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    return pd.DataFrame(x_scaled)

In [10]:
# train vals.
#X = normalize_df(train.iloc[:, 2:])
X = new_train.iloc[:, 1:]#normalize_df(train.iloc[:, 2:])

# normaliozare unitara
X1 = 255 - X
Y = new_train.iloc[:, 0:1]

XX = [X, X1]
X = normalize_df(pd.concat(XX))

YY = [Y, Y]
Y = pd.concat(YY) 
# ----------------------

# cross vals.
X_c = new_cross.iloc[:, 1:]
X1 = 255 - X_c
Y_c = new_cross.iloc[:, 0:1]

XX = [X_c, X1]
X_c = normalize_df(pd.concat(XX))

YY = [Y_c, Y_c]
Y_c = pd.concat(YY) 
# ----------------------

# test vals.
X_t = new_test.iloc[:, 1:]
X1 = 255 - X_t
Y_t = new_test.iloc[:, 0:1]

XX = [X_t, X1 ]
X_t = normalize_df(pd.concat(XX))

YY = [Y_t, Y_t]
Y_t = pd.concat(YY) 
# ----------------------

In [11]:
X.to_csv('XX.csv')
Y.to_csv('XY.csv')
X_c.to_csv('XX_c.csv')
Y_c.to_csv('XY_c.csv')
X_t.to_csv('XX_t.csv')
Y_t.to_csv('XY_t.csv')

In [12]:
new_train.iloc[:, 0:1]

       label
37391      1
14492      3
2925       7
56041      3
2963       9
...      ...
53354      9
52960      7
44668      3
944        9
34016      8

[69300 rows x 1 columns]

In [13]:
new_train.iloc[:, 1:]

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
37391,0,0,0,0,0,0,0,0,0,0,...,158,0,0,0,0,0,0,0,0,0
14492,0,0,0,0,0,0,0,0,0,0,...,222,30,0,0,0,0,0,0,0,0
2925,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56041,0,0,0,0,0,0,0,0,0,32,...,0,0,0,0,0,0,0,0,0,0
2963,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44668,0,0,0,0,0,0,0,0,14,58,...,127,2,0,0,0,0,0,0,0,0
944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0